* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(255,255,255);
    background: linear-gradient(rgba(255,255,255,1) 0%, rgba(159,159,159,1) 27%, rgba(191,191,191,1) 78%, rgba(0,0,0,1) 100%);
    background-repeat: no-repeat;
}

.container {
    margin: 0 auto;
    width: 85%;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.cabecalho img {
    width: 102px;
}

.cabecalho .menu-icons img {
    width: 50px;
    padding-left: 25px;
}

.menu-icons {
    display: flex;
}

#menu li {
    list-style-type: none;
}

#menu a {
    text-decoration: none;
}

#menu {
    width: 50%;
    height: 221px;
    background-color: #757575;
    position: absolute;
    top: 74px;
    right: 0;
    display: none;
<<<<<<< HEAD
    z-index: 99;
=======
    z-index: 999999;
>>>>>>> d207cdf057b9e5b402d7fdde28840898b002f002
}

#menu ul a {
    color: black;
    padding: 20px;
}

#menu ul.white a {
    color: white;
}

#menu ul.white {
    margin-top: 35px;
}

#menu ul {
    margin-top: 10px;
}







.titulo {
    background-color: black;
    color: white;
}

.titulo span {
    font-weight: 700;
}

.titulo h1 {
    font-weight: 400;
    margin-bottom: 2%;
}

.titulo div {
    padding: 6%;
}




.filmes {
    display: flex;
    background-color: white;
    margin-bottom: 10px;
}

.destaques h2 {
    color: #767676;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
}

.filmes img {
    width: 110px;
    height: 120px;
    border: solid 3px #9F9F9F;
}

.filmes h1 {
    font-size: 31px;
    color: #767676;
}

.filmes p {
    color: #9F9F9F;
}

.filmes p span {
    color: #141414;
    font-weight: 600;
}

.filmes div {
    padding: 5px;
}







.gray {
    background-color: #757575;
    color: black;
    padding: 3%;
    text-align: center;
    height: 120px;
    margin-top: 5%;
    width: 400px;
}

.gray h1 {
    font-weight: 900;
}

.gray img {
    width: 50px;
    margin: auto;
    margin-top: 2%;
}






.listas {
    display: flex;
}

.listas li {
    list-style-type: none;
    margin-right: 15px;
}

.listas a {
    text-decoration: none;
    color: white;
    font-size: 10pt;
    font-weight: 200;
}

.h3 h3 {
    color: white;
    font-weight: 200;
    margin-bottom: 2%;
    margin-top: 10%;
}

.h3 p {
    margin-top: 10%;
    color: white;
}

.rodape {
    background: rgb(29,29,29);
    background: linear-gradient(rgba(29,29,29,1) 0%, rgba(0,0,0,1) 100%);
    background-repeat: no-repeat;
    display: flex;
}

.padding {
    padding: 0px 20px 5px 20px;
}







.imagens img {
    width: 107px;
}

.imagens {
    width: 107px;
    height: 70px;
    background-color: white;
}

.icones {
    display: flex;
    align-items: center;
}

.icones .tt { 
    width: 40px;
    height: 40px;
}

.icones .insta {
    width: 45px;
    height: 45px;
}

.icones .face {
    width: 50px;
    height: 50px;
}







.banner {
    display: none;
}

.filmes .h1none h1 {
    display: none;
}

.veja-mais {
    display: none;
}

.selecione .gray2 {
    display: none;
}

.selecione-tablet {
    display: none;
}
span.ocultar {
    display: none;
}
h2.ocultar {
    display: none;
}



/* min-width 801px */

@media (min-width: 801px) {
    body {
        margin-left: 0px;
        margin-right: 0px;
    }
    header {
        margin-top: 5px;
    }
    #menu {
        display: block;
        position: initial;
        background: none;
    }
    #menu ul {
        display: flex;
    }
    .bar {
        display: none;
    }
    .cabecalho .logo{
        width: 107px;
        height: 100px;
    }
    .cabecalho {     
    margin-bottom: -100px;
    }
    .menu-icons {
        width: 100px;
        margin-top: -115px;
    }

    #menu ul{
        display: flex;
        justify-content: flex-end;
        margin: 0;
        margin-top: 10px;
    }
    .menu-icons {
        margin-left: 80px;
        margin-bottom: 13px;
    }
    #menu span {
        display: none;
    }
    #menu {
        margin-top: 20px;
    }
    #menu ul li a {
        padding: 10px 10px 0 10px;
    }
    #menu ul.white {
        margin-top: 10px;
    }
    #menu ul.white a {
        color: #141414;
    }

    .banner {
        display: block;
    }
    .titulo {
        height: 110px;
        margin-bottom: 20px;
    }
    .titulo div {
        margin-left: 20px;
        padding-top: 10px;
    }
    .branco img {
        width: 107px;
    }
    .branco {
        display: flex;
        justify-content: space-evenly;
        background-color: white;
        padding: 10px;
        border-top: solid 2px #757575;
        border-left: solid 2px #757575;
        border-right: solid 2px #757575;
    }
    .circulos {
        display: flex;
        justify-content: center;
    }
    .circulos img {
        width: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .branco2 {
        background-color: white;
        border-bottom: solid 2px #757575;
        border-left: solid 2px #757575;
        border-right: solid 2px #757575;
        padding: 10px;
    }
    .filmes h1 {
        display: none;
    }
    .filmes .h1none h1 {
        display: block;
        font-size: 31px;
        color: #767676;
        margin-top: 10px;
    }
    .filmes div {
        padding: 30px 20px;
    }
    .veja-mais {
        background-color: white;
        color: black;
        border: solid 2px #757575;
        width: 80px;
        padding: 1px 10px;
        text-align: center;
        margin-left: 85%;
        display: block;
    }
    .gray {
        display: block;
        width: 295px;
    }
    .selecione .gray2 {
        display: block;
    }
    .gray2 {
        display: block;
        background-color: #757575;
        color: white;
        padding: 3%;
        text-align: center;
        margin-top: 5%;
        width: 290px;
    }
    .gray2 span {
        font-weight: 700;
    }
    
    .gray2 h1 {
        font-weight: 400;
    }
    
    .gray2 img {
        width: 50px;
        margin: auto;
        margin-top: 2%;
    }
    .selecione {
        display: flex;
    }
    .listas .padding-left {
        padding-left: 65px;
    }
    .listas .imagens {
        margin-left: 250px;
        margin-top: -30px;
    }
    .selecione {
        display: none;
    }
    .selecione-tablet {
        width: 100%;
        text-align: left;
        display: block;
        height: 400px;
        margin-bottom: 0;
    }
    .selecione-tablet form {
        margin-left: 25%;
    }

    .selecione-tablet label {
        color: white;
        font-weight: 600;
    }
    .selecione-tablet select {
        border: none;
        border-bottom: solid 1.5px black;
        background-color: #757575;
        width: 40%;
    }
    .selecione-tablet a {
        text-decoration: none;
        color: rgb(9, 9, 93);
        font-weight: 600;
        margin-left: 25%;
    }
    .selecione-tablet h2 {
        color: rgb(9, 9, 93);
        font-size: 20px;
        text-align: center;
        margin-top: 40px;
    }
    .selecione-tablet article {
        background-color: white;
        margin: 10px;
        border-radius: 5px;
        padding: 5px;
        color: rgb(9, 9, 93);
        font-weight: 500;
    }
    .selecione-tablet article.analia img {
        width: 10px;
        margin-left: 50%;
    }
    div.unidades {
        display: flex;
    }
    h2.preto {
        color: black;
    }
    .copyright {
        text-align: center;
    }



    span.ocultar {
        display: none;
    }
    h2.ocultar {
        display: none;
    }
}





/*min width 1201px*/


@media (min-width: 1201px) {
    .titulo div {
        display: flex;
        justify-content: center;
    }
    span.ocultar {
        display: block;
        margin-top: -15px;
    }
    .titulo p {
        margin-left: 50px;
        margin-top: 20px;
    }
    .titulo h1 {
        margin-top: 20px;
    }
    .filmes {
        display: flex;
        flex-direction: column;
    }
    .filmes .h1none {
        display: none;
    }
    .destaques {
        display: flex;
    }
    .destaques h2 {
        display: none;
    }
    h2.ocultar {
        display: block;
        color: #757575;
        margin-left: 90px;
        margin-bottom: 20px;
        font-weight: 400;
    }
    .filmes img {
        width: 190px;
        height: 350px;
        border: solid 2px white;
    }
    .destaques article {
        margin: 0px 5px;
        border: none;
    }
    .selecione-tablet {
        width: 80%;
        border-radius: 50px;
    }
    .selecione-tablet h1 {
        text-align: center;
    }
    .selecione-tablet select {
        margin-left: 200px;
    }
    .selecione-tablet label {
        margin-left: -100px;
    }
    .selecione-tablet a {
        margin-left: 140px;
        margin-top: 20px;
    }
    .selecione-tablet article.analia p {
        margin-left: -0px;
        margin-top: 0px;
    }
    .selecione-tablet {
        margin-bottom: 20px;
    }
    .rodape {
        background: none;
        margin-left: 180px;
    }
    .copyright {
        margin-left: -150px;
    }
<<<<<<< HEAD
=======
    .menu-icons {
        margin-left: 300px;
    }
    #menu {
        display: flex;
    } 
}













/* HORARIOS */

.background-img {
    background: url(../imagens/sonic-1.jpg) 50% 50% no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200px;
}

.background-img .flexbox, .subtextos {
    display: flex;
}

.background-img .banner-sonic {
    width: 125px;
    margin-top: 50px;
}

.subtextos img {
    width: 18px;
    margin-right: 5px;
}

.banner-sonic{
    padding: 0 35px;
    padding-top: 37px;
}

.dados {
    margin-top: 140px;
    color: white;
}

.dados {
    font-size: 0.7em;
}

.alguns-textos {
    height: 120px;
    margin-left: 210px;
    font-size: 0.8em;
}

.alguns-textos .a,a {
    color: black;
    padding: 20px 25px;
}

.section-horarios h1{
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}

.section-horarios {
    height: 280px;
}

.horarios {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    margin-left: 80px;
}

.horarios div p {
    padding: 10px 25px;
    background-color: white;
    border: solid 2px #757575;
    margin: 10px;
}

.horarios img {
    transform: rotate(-90deg);
    width: 50px;
    margin-left: 30px;
}

.endereco {
    font-size: 0.85em;
    color: white;
    margin-bottom: 50px;
}









/*HORARIOS MEDIA QUERYES*/

@media (min-width: 801px) {
    .flexbox {
        margin-left: 27%;
    }
    .dados {
        margin-left: 1.9%;
    }
    .alguns-textos {
        margin-left: 53%;
    }
}

@media (min-width: 1201px) {
    .flexbox {
        margin-left: 35%;
    }
>>>>>>> d207cdf057b9e5b402d7fdde28840898b002f002
}