* {
    margin: 0;
}

/* Inicio Página Cadastro */

body{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(188,188,188,1) 81%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(81%, rgba(188,188,188,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(188,188,188,1) 81%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(188,188,188,1) 81%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(188,188,188,1) 81%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(188,188,188,1) 81%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
   

}

a{
    text-decoration: none;
    color: white;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(255,255,255);
    background: linear-gradient(rgba(255,255,255,1) 0%, rgba(159,159,159,1) 27%, rgba(191,191,191,1) 78%, rgba(0,0,0,1) 100%);
    background-repeat: no-repeat;
}

.container {
    margin: 0 auto;
    width: 85%;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.cabecalho img {
    width: 102px;
}

.cabecalho .menu-icons img {
    width: 50px;
    padding-left: 25px;
}

.menu-icons {
    display: flex;
}

#menu li {
    list-style-type: none;
}

#menu a {
    text-decoration: none;
}

#menu {
    width: 50%;
    height: 221px;
    background-color: #757575;
    position: absolute;
    top: 74px;
    right: 0;
    display: none;
    z-index: 99;
}

#menu ul a {
    color: black;
    padding: 20px;
}

#menu ul.white a {
    color: white;
}

#menu ul.white {
    margin-top: 35px;
}

#menu ul {
    margin-top: 10px;
}

main .container{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .container h1{
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.cadastro{
    width: 85%;
    height: 400px;
    margin: 1em auto;
    box-shadow: -1px 4px 15px #000, -1px -6px 10px var(--purple);
    border-radius: 5px;

}

.cadastro label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;

    color: #000
}
.campo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;

}

input[type="text"],
input[type="password"],
.campo input[type="email"],
input[type="date"],
select, .select{
    width: 50%;
    background-color: var(--background);
    border: none;
    outline: none;
    border-bottom: solid 1px #00ff97;
    color: #fff;
}








.titulo {
    background-color: black;
    color: white;
}

.titulo span {
    font-weight: 700;
}

.titulo h1 {
    font-weight: 400;
    margin-bottom: 2%;
}

.titulo div {
    padding: 6%;
}




.filmes {
    display: flex;
    background-color: white;
    margin-bottom: 10px;
}

.destaques h2 {
    color: #767676;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
}

.filmes img {
    width: 110px;
    height: 120px;
    border: solid 3px #9F9F9F;
}

.filmes h1 {
    font-size: 31px;
    color: #767676;
}

.filmes p {
    color: #9F9F9F;
}

.filmes p span {
    color: #141414;
    font-weight: 600;
}

.filmes div {
    padding: 5px;
}







.gray {
    background-color: #757575;
    color: black;
    padding: 3%;
    text-align: center;
    height: 120px;
    margin-top: 5%;
    width: 400px;
}

.gray h1 {
    font-weight: 900;
}

.gray img {
    width: 50px;
    margin: auto;
    margin-top: 2%;
}






.listas {
    display: flex;
}

.listas li {
    list-style-type: none;
    margin-right: 15px;
}

.listas a {
    text-decoration: none;
    color: white;
    font-size: 10pt;
    font-weight: 200;
}

.h3 h3 {
    color: white;
    font-weight: 200;
    margin-bottom: 2%;
    margin-top: 10%;
}

.h3 p {
    margin-top: 10%;
    color: white;
}

.rodape{
    width: 100%;
}

.rodape .container{
    width: 94%;
}

.padding {
    padding: 0px 20px 5px 20px;
}







.imagens img {
    width: 107px;
}

.imagens {
    width: 15%;
    height: 70px;

}

.icones {
    display: flex;
    align-items: center;
}

.icones .tt { 
    width: 40px;
    height: 40px;
}

.icones .insta {
    width: 45px;
    height: 45px;
}

.icones .face {
    width: 50px;
    height: 50px;
}







.banner {
    display: none;
}

.filmes .h1none h1 {
    display: none;
}

.veja-mais {
    display: none;
}

.selecione .gray2 {
    display: none;
}

.selecione-tablet {
    display: none;
}
span.ocultar {
    display: none;
}
h2.ocultar {
    display: none;
}


/* Media Query Responsividade 800px */
 @media(min-width: 801px){
    .listas .padding-left {
        padding-left: 65px;
    }

    .listas .imagens {
        margin-left: 150px;
        margin-top: -30px;
    }

    .copyright {
        text-align: center;
    }
}
/* Media Query Responsividade 1100px  Cadastro*/
@media(min-width: 1200px){
    .campo label{
        font-size: 1.5em;
    }
    
    footer .container h3{
        font-size: 1.7em;
    }
    
    .listas a{
        font-size: 1.6em;
    }
    .listas{
        display: flex;
        justify-content: space-around;
    }
    footer h3{
        margin-left: 5.5em;
    }

    .imagens .img{
        width: 80%;
        height: 200%;
        background-color: white;
    }

    .imagens{
        display: flex;
    }

    .icones{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 168px;
        padding-left: 1em;
        height: 148px;
    }

    .icones img{
        width: 100%;
        height: 100%;
    }




}