* {
    margin: 0;
}

/* Inicio Página Cadastro */

body{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(188,188,188,1) 81%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(81%, rgba(188,188,188,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(188,188,188,1) 81%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(188,188,188,1) 81%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(188,188,188,1) 81%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(188,188,188,1) 81%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );

}

a{
    text-decoration: none;
    color: white;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(255,255,255);
    background: linear-gradient(rgba(255,255,255,1) 0%, rgba(159,159,159,1) 27%, rgba(191,191,191,1) 78%, rgba(0,0,0,1) 100%);
    background-repeat: no-repeat;
}

.container {
    margin: 0 auto;
    width: 85%;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.cabecalho img {
    width: 102px;
}

.cabecalho .menu-icons img {
    width: 50px;
    padding-left: 25px;
}

.menu-icons {
    display: flex;
}

#menu li {
    list-style-type: none;
    display: flex;
}

#menu a {
    text-decoration: none;
}

#menu {
    width: 0%;
    height: 221px;
    right: 0;
    display: none;
    z-index: 999999;
}

#menu ul a {
    color: black;
    padding: 20px;
}

#menu ul.white a {
    color: white;
}

#menu ul .white {
    margin-top: 35px;
    display: flex;
}

#menu ul {
    margin-top: 10px;
    display: flex;
}

main .container{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .container h1{
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.cadastro{
    width: 85%;
    height: 400px;
    margin: 1em auto;
    box-shadow: -1px 4px 15px #000, -1px -6px 10px var(--purple);
    border-radius: 5px;

}

.cadastro label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;

    color: #000
}
.campo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;

}

input[type="text"],
input[type="password"],
.campo input[type="email"],
input[type="date"],
select, .select{
    width: 50%;
    background-color: var(--background);
    border: none;
    outline: none;
    border-bottom: solid 1px #00ff97;
    color: #fff;
}








.titulo {
    background-color: grey;
    color: white;
}

.titulo span {
    font-weight: 700;
}

.titulo h1 {
    font-weight: 400;
    margin-bottom: 2%;
    text-align: center;
}

.titulo div {
    padding: 6%;
}




.filmes {
    display: flex;
    background-color: white;
    margin-bottom: 10px;
}

.destaques h2 {
    color: #767676;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
}

.filmes img {
    width: 110px;
    height: 120px;
    border: solid 3px #9F9F9F;
}

.filmes h1 {
    font-size: 31px;
    color: #767676;
}

.filmes p {
    color: #9F9F9F;
}

.filmes p span {
    color: #141414;
    font-weight: 600;
}

.filmes div {
    padding: 5px;
}







.gray {
    background-color: #757575;
    color: black;
    padding: 3%;
    text-align: center;
    height: 120px;
    margin-top: 5%;
    width: 400px;
}

.gray h1 {
    font-weight: 900;
}

.gray img {
    width: 50px;
    margin: auto;
    margin-top: 2%;
}






.listas {
    display: flex;
}

.listas li {
    list-style-type: none;
    margin-right: 15px;
}

.listas a {
    text-decoration: none;
    color: white;
    font-size: 10pt;
    font-weight: 200;
}

.h3 h3 {
    color: white;
    font-weight: 200;
    margin-bottom: 2%;
    margin-top: 10%;
}

.h3 p {
    margin-top: 10%;
    color: white;
}

.rodape{
    width: 100%;
}

.rodape .container{
    width: 94%;
}

.padding {
    padding: 0px 20px 5px 20px;
}


body{
   
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background: rgb(255,255,255);
     background: linear-gradient(rgba(255,255,255,1) 0%, rgba(159,159,159,1) 27%, rgba(191,191,191,1) 78%, rgba(0,0,0,1) 100%);
     background-repeat: no-repeat;
  
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
img{
    max-width: 100%;
}
/* INÍCIO DO HEADER */





.imagens img {
    width: 107px;
}

.imagens {
    width: 15%;
    height: 70px;

}

.icones {
    display: flex;
    align-items: center;
}

.icones .tt { 
    width: 40px;
    height: 40px;
}

.icones .insta {
    width: 45px;
    height: 45px;
}

.icones .face {
    width: 50px;
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: linear-gradient(white,black);
}
.containerb{
    width: 100%;
    max-width:90%;
    margin:0 auto;
}
#audio{
    display: none;
}
.headerb{
     
    max-height:80px;
    height:100%;
    margin: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo img{
    width: 70px;
    height:70px;
}
.header__menu{
    display: flex;
}
.header__menu img{
    width: 30px;
    height: 30px;
    margin:0px 10px;
}




.mainb{
    margin-top: 30px;
}
.slideshow{
    
    border: 2px solid #707070;
}
.slideshow__slide1{
    height: 100%;
    display: flex;
    justify-content: space-between;
    
    padding:20px;
}
.slideshow__slide1 img{
    width: 130px;
}
.slideshow__slide1 div{
   
    margin:0px 10px;
        
   
}
.slideshow__text{
    padding-top: 10px;
}

.slideshow__bar{
    display: flex;
    justify-content: center;
}
.slideshow__bar img{
    width: 15px;
    height: 15px;
    margin:10px 3px;
}


.sectionb{
    margin-top:30px;
}
.sectionb h1{
    color: #707070;
    font-weight: normal;
    font-size: 24px;
}
.sectionb__articles{
    margin-top: 30px;
    

}
.sectionb__articles article{
    margin: 10px 0px;
    background-color: #fff;
    display: flex;
    border: 2px solid #707070;
}
.sectionb__articles img{
    width:100%;
    max-width: 120px;
    height: 100%;  

    
}
.articles__text div{    
    padding: 5px 10px;  
    color: #707070;  
}
.articles__tittle{
    color: #707070;
    font-weight:normal;
    font-size: 2em;
    margin:10px 0px;
}
.articles__text span{
    font-weight: bold;
}
.articles__desc{
    font-weight: bold;
}

.sectionb__button{
    text-align: right;
}
.sectionb__button button {
    padding: 5px 40px;
    background-color: #fff;
    border: 1px solid #707070;
}
.section2b{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.section2b div{
    text-align: center;
    background-color: #707070;
    
    
}
.section2b div img{
    height: 50px;
    width: 50px;
}
.section2b__div-md{
    padding: 20px;
    margin-right: 20px;
}
.section2b__div-sm{
    padding-top: 40px;
    font-weight: normal;
    color: white;
    
}
#logof{
    height: 100px;
    width: 100px;
}
footer{
    padding: 30px;
    margin-top: 157px;
    color: white;
}
.footer{
    display: flex;
    
    justify-content: space-between;
}
.footer__list{
    display: flex;
    font-size: 14px;
}
.footer__list div{
    margin-right: 30px;
}
footer h4{
    font-size: 24px;
    font-weight: normal;
}
.footer__right{
    text-align: center;
}
.footer__right img{
    width: 50px;
    height:50px;
}
.social{
    display: flex;
}
.social img{
    height: 30px;
    width: 30px;
}
.dtablet{
    display: none;
}
#desktop{
    display: none;
    
}

#desktop ul{
    display: flex;
    list-style: none;
}
#desktop li{
    margin:0px 30px;
}
#desktop a{
    text-decoration: none;
    color: black;
   
}


.light{
    display: none;
    width: 100%;
    height:100%;
    z-index: 98;
    position: fixed;
    filter:blur(45px);
    background-color: #7070709f;
}

.dropdownb{
    width:300px;
    right: 0;
    top: 0;
    padding:50px;
    display: none;
    position: absolute;
    z-index: 99;
    background-color: #707070;
}
.dropdownb ul{
    list-style: none;
    font-size: 1.5em;
}
.dropdownb .top li a{
    text-decoration: none;
    color:black;
}
.bottom{
    margin-top: 300px;
}
.dropdownb .bottom li a{
    text-decoration: none;
    color:white;
}








.filmes .h1none h1 {
    display: none;
}

.veja-mais {
    display: none;
}

.selecione .gray2 {
    display: none;
}

.selecione-tablet {
    display: none;
}
span.ocultar {
    display: none;
}
h2.ocultar {
    display: none;
}


/* Media Query Responsividade 800px */
 @media(min-width: 801px){
    .listas .padding-left {
        padding-left: 65px;
    }

    #menu{
        display: flex;
    }

    .listas .imagens {
        margin-left: 150px;
        margin-top: -30px;
    }

    .copyright {
        text-align: center;
    }
}
/* Media Query Responsividade 1100px  Cadastro*/
@media(min-width: 1200px){
    .campo label{
        font-size: .5em;
    }
    
    footer .container h3{
        font-size: 1.7em;
    }
    
    .listas a{
        font-size: 1.6em;
    }
    .listas{
        display: flex;
        justify-content: space-around;
    }
    footer h3{
        margin-left: 5.5em;
    }

    .imagens .img{
        width: 80%;
        height: 200%;
        background-color: white;
    }

    .imagens{
        display: flex;
    }

    .icones{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 168px;
        padding-left: 1em;
        height: 148px;
    }

    .icones img{
        width: 100%;
        height: 100%;
    }

}

/* Inicio Pagina Login - Gustavo Acacio */

header .fa-bars{
    color: black;
    font-size: 3em;
    display: block;
    margin-top: .2em;
}

.main-login{
    width: 100%;    
}

.container-login{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.container-login p, h1{
    text-align: center;
    margin-top: 1.5em;
}


.campo-login{
    width: 85%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
}

.campo-login input{
    width: 100%;
    margin: 0 auto;
}

.container-login p:nth-child(3n){
    font-size: .7em;
}

.container-login a{
    color: blue;
}

.entrar{
    margin-top: 2em;
    display: flex;
    width: 100%;
}

.google{
    width: 50%;
    height: 25px;

    display: flex;
    font-size: .7em;
}

.google img{
    height: 35px;
}

.facebook{
    width: 50%;
    height: 25px;

    display: flex;
    font-size: .7em;
}

.facebook img{
    height: 35px;
}
/* Media Query 801px */
@media(min-width:800px){
    .entrar{
        height: 40px;
        width: 65%;
        margin: 2em auto;
    }
    header .fa-bars{
        color: black;
        font-size: 3em;
        display: none;
        margin-top: .2em;
    }
    #menu{
        display: block;
        width: 40%;
        height: 72px;
    }


}

/* Media Query 1200px */
@media(min-width: 1200px){
    .campo-login input{
        width: 100%;
        height: 3em;
        margin: 0 auto;
    }

    form{
        font-size: 2em;
    }

    .entrar{
        height: 40px;
        width: 45%;
        margin: 2em auto;
    }

    .google img{
        height: 50px;

    }
    
    .facebook img{
        height: 50px;

    }







@media (min-width:801px){
    .articles__text{
        display: flex;

        
    }
    .slideshow__slide1 div{
        margin: 0px 30px;
    }
    .articles__tittle{
        font-size: 2.5em;
        font-weight: bold;
        
    }
    .sectionb__articles article {
        justify-content: space-between;
    }
    .articles__text:nth-child(2){
        font-size: 1.5em;
    }
    .sectionb__articles img{
        width:100%;
        max-width: 200px;
        height: 100%;
        max-height:200px;  
    
        
    }
    .slideshow__slide1{
        justify-content: center;
    }
    .slideshow__slide1 img{
        width: 300px;
    }
    .text__md{
        font-size: 2em;
    }
    .slideshow__text{
        width: 100%;
        max-width: 300px;
        font-weight: lighter;
        padding-top: 2em;
    }
    .section2b div{
        width: 70%;
        font-size: 1.5em;
    }
    .sectionb h1{
        font-size: 2em;
    }
    .sectionb__button button{
        font-size: 2em;
    }
    .header__logo img{
        width: 120px;
        height:120px;
    }
    #mobile{        
        display: none;
        padding:30px;
    }
    #desktop{
        display: block;
    }
    .header__menu img{
        padding:5px;
        width: 70px;
        height: 70px;
    }
    
    a span{
        font-weight: bolder;
    }
    .ul-sm{
        font-size: .9em;
    }
    
}
@media (min-width:1266px){
    .sectionb__articles{
        display: flex;
    }

    .sectionb__articles article{
        flex-direction: column;
        margin:10px;
    }
    .articles__text{
        display: inline;
    }
    .articles__tittle{
        display: none;
    }
    .sectionb__articles img{
        max-width: 100%;
        max-height: 100%;
    }
    #audio{
        display: block;
        font-size: 2em;
        font-style: italic;
        font-weight: bold;
        margin-right: 300px;
    }
    .footer{
        font-size: 2em;
    }

    .menu-icons {
        margin-left: 300px;
    }
    #menu {
        display: flex;
    } 
}













/* HORARIOS */

.background-img {
    background: url(../imagens/sonic-1.jpg) 50% 50% no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200px;
}

.background-img .flexbox, .subtextos {
    display: flex;
}

.background-img .banner-sonic {
    width: 125px;
    margin-top: 50px;
}

.subtextos img {
    width: 18px;
    margin-right: 5px;
}

.banner-sonic{
    padding: 0 35px;
    padding-top: 37px;
}

.dados {
    margin-top: 140px;
    color: white;
}

.dados {
    font-size: 0.7em;
}

.alguns-textos {
    height: 120px;
    margin-left: 210px;
    font-size: 0.8em;
}

.alguns-textos .a,a {
    color: black;
    padding: 20px 25px;
}

.section-horarios h1{
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}

.section-horarios {
    height: 280px;
}

.horarios {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    margin-left: 80px;
}

.horarios div p {
    padding: 10px 25px;
    background-color: white;
    border: solid 2px #757575;
    margin: 10px;
}

.horarios img {
    transform: rotate(-90deg);
    width: 50px;
    margin-left: 30px;
}

.endereco {
    font-size: 0.85em;
    color: white;
    margin-bottom: 50px;
}



/* FIM DO HEADER */

/* INÍCIO CONTEÚDO PRINCIPAL */


.acessibilidade{
    width: 100%;
}
.titulo{
    width: 100%;
    
}
.titulo h1{
    display: flex;
    width: 100%;
    margin-left: 12px;
    font-size: 55px;
    justify-content: center;
    padding-top: 75px;
    font-weight: 100;


}

/* INÍCIO CONFIGURAÇÃO DOS BNT */
.buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.botao1{
    margin-top: 40px;
}
.btn-visual{
    width: 100%;
    font-size: 30px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    background: none;
    border-radius: 10px;
    text-decoration: underline;

}
.btn-visual:hover{
    color: rgb(119, 119, 119);

}

.botao2{
    margin-top: 40px;
}

.btn-auditivo{
    font-size: 30px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    background: none;
    border-radius: 10px;
    text-decoration: underline;
}
.btn-auditivo:hover{
    color: rgb(119, 119, 119);
}
.botao3{
    margin-top: 40px;
}
.btn-nenhuma{
    font-size: 30px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    background: none;
    border-radius: 10px;
    text-decoration: underline;

}
.btn-nenhuma:hover{
    color: rgb(119, 119, 119);

}

/* FIM CONFIGURAÇÃO DOS BNT */

.filmadora{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filmadora img{
    width: 175px;
    padding-top: 75px;
}

/* FIM CONTEÚDO PRINCIPAL */

/* INÍCIO DO FOOTER */




/*HORARIOS MEDIA QUERYES*/

@media (min-width: 801px) {
    .flexbox {
        margin-left: 27%;
    }
    .dados {
        margin-left: 1.9%;
    }
    .alguns-textos {
        margin-left: 53%;
    }
}

@media (min-width: 1201px) {
    .flexbox {
        margin-left: 35%;
    }

}

/* FIM DO FOOTER */

/* INÍCIO DO HEADER */






/* FIM DO HEADER */


/* INÍCIO DO CONTEUDO PRINCIPAL */
.banner{
    width: 100%px;
    float: left;
    text-align: center;
    padding: 3% 4%;
}

.banner h1{
    color: black;
    font-size: 65px;
    font-weight: 100;

}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-right: 25px;
    box-shadow: aqua;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 7px 7px #888888;
    margin-top: 28px;
}

.titulo img{
    width: 120px;
}

.conteudo_principal{
    padding-top: 75px;
}
.logo_conteudo{
    width: 100%;
}
.logo_conteudo img{
    width: 250px;
    padding-bottom: 15px;
}

.conteudo{
    width: 100%;
}

.conteudo p{
    font-size: 25px;
    color: white;
}

.buttons{
    width: 100%;
    padding-top: 25px;
}

.btn-ver_mais{
    font-size: 20px;
    border-radius: 5px;
    float: right;
    cursor: pointer;
    padding: 3%;
    background: no-repeat;
    color: black;

}

.btn-ver_mais:hover{
    color: grey;
}
/* FIM DO CONTEUDO PRINCIPAL */



/* INÍCIO FOOTER */








/* FIM FOOTER */

